@model IEnumerable<Order>

@{
    ViewData["Title"] = "Show orders";
    int OrderCounter = 1;
}

<h3>
    All orders in system
</h3>
<p id="systeminfo_id">Currently there are <span id="ordercount_id">@Model.Count()</span> order(s) in the system</p>
<div class="container">
    @foreach (var order in Model)
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="orderdiv Bmargin">
                    <ul>
                        <li>ID: @order.Id</li>
                        <li>Timestamp: @order.TimeStamp</li>
                        <li>Customer name: @order.CustomerName</li>
                        <li>Pizza(s) ordered</li>
                        @foreach (var pizzas in order.oItems)
                        {
                            <ul>
                                <li><span>@pizzas.Text</span> - <span>@pizzas.Price</span></li>
                            </ul>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <a asp-action="RemoveOrder" id="@string.Format("removebutton_id{0}", OrderCounter)" asp-route-id="@order.Id" class="btn btn-danger">Remove order</a>
                @{
                    OrderCounter++;
                }
            </div>
        </div>        
    }
</div>